
/* andreas00 - an open source xhtml/css website layout by Andreas Viklund
http://andreasviklund.com . Free to use for any purpose as long as the proper
credits are given to the original author.
Version: 1.0 (Apr 07, 2006) */

/***** Body and main container *****/
/* How to do a gradient
/*      background-image: -moz-linear-gradient(top, #81a8cb, #4477a1); /* Firefox 3.6 */
/*	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #4477a1),color-stop(1, #81a8cb)); /* Safari & Chrome */
/*	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#81a8cb', endColorstr='#4477a1'); /* IE6 & IE7 */
/*	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#81a8cb', endColorstr='#4477a1')"; /* IE8 */


body {
    background: #eaeaea;
    color : #3a3a3a;
    font-family : Verdana,Tahoma,Arial,sans-serif;
    font-size : 76%;
    margin: 0;
    padding: 0;
  }


#wrap {
    background: #ffffff;
    border: 1px solid #b0b0b0;
    -moz-box-shadow: 0 0 12px 1px #b0b0b0;
    border-radius: 15px;
    color : #303030;
    margin: 20px;
    min-width : 900px;
  }

/***** Header *****/


#header {
    background: #ffffff url('../images/front3.jpg') no-repeat bottom right;
    border-radius: 15px;
    color : #505050;
    height : 125px;
    margin: 0 0 10px 0;
    padding: 0;
  }


#header h1 {
    font-size : 2.5em;
    font-weight : normal;
    letter-spacing : -2px;
    margin: 0 0 4px 15px;
    padding: 15px 0 0 0;
  }


#header h1 a,#header h1 a:hover {
    padding: 0;
  }


#header p {
    font-size : 1.1em;
    letter-spacing : -1px;
    margin: 0 0 5px 15px;
    padding: 0 0 0 3px;
  }

/***** Left sidebar *****/


#avmenu {

    clear : left;
    float : left;
    margin: 0 10px;
    padding: 0;
    width : 150px;
  }

#avmenu ul {
    list-style-image : none;
    list-style-type : none;
    margin: 0 0 20px 0;
    padding: 0;
    width : 150px;
  }

#avmenu li {
    margin : 0 0 5px 0;
    padding: 0;
  }


p.extmenuadmin {

   padding-left: 10px;
}

.z-bkey-extmenu ul {
/*
    background-color : #f4f4f4 !important;
    background-image : url('../images/menubg.gif');
*/
    list-style-image : none;
    list-style-type : none;
    margin: 0 0 20px 0;
    padding: 0;
    width : 150px;
}

#avmenu .z-bkey-extmenu li a {
    /* menubg is gradient top-bottom f4-e8 */
    background: #f4f4f4 url('../images/menubg.gif') bottom left repeat-x;
    border: 1px solid #d8d8d8;
    border-left: 4px solid #cccccc;
    color : #505050;
    display : block;
    font-weight : bold;
    height : 20px;
    padding: 6px 0 0 10px;
    text-decoration : none;
  }


#avmenu .z-bkey-extmenu li a:hover, #avmenu .z-bkey-extmenu li a.current {
    background: #eaeaea url('../images/menubg2.gif') bottom left repeat-x;
    border: 1px solid #b0b0b0;
    border-left: 4px solid #505050;
    color : #505050;
  }


#avmenu li a {
    background: #f4f4f4 url('../images/menubg.gif') bottom left repeat-x;
    border: 1px solid #d8d8d8;
    border-left: 4px solid #cccccc;
    color : #505050;
    display : block;
    font-weight : bold;
    height : 20px;
    padding: 6px 0 0 10px;
    text-decoration : none;
  }

#avmenu li a:hover, #avmenu li a.current {
    background: #eaeaea url('../images/menubg2.gif') bottom left repeat-x;
    border: 1px solid #b0b0b0;
    border-left: 4px solid #505050;
    color : #505050;
  }

#avmenu ul ul {
    font-size : 0.9em;
    margin: 5px 0 5px 15px;
    width : 135px;
  }


#avmenu ul ul a {
    height : 16px;
    margin: 0;
    padding: 4px 0 0 8px;;
  }


#avmenu h2, #extras h2 {
    color : #004E78;
    background-color : #EAF9FD;
    border-bottom: 1px dotted #004E78;
    font-size : 1.4em;
    font-weight : normal;
    padding: 2px 0 2px 5px;
  }

/***** Right sidebar *****/


#extras {
    float : right;
    font-size : 0.9em;
    margin: 0 15px 10px 10px;
    padding: 0;
    width : 180px;
  }


#extras p, #extras ul {
    line-height : 1.3em;
    margin: 0 0 1.5em 0;
    padding: 0;
  }


#extras a {
    font-weight : bold;
  }


#extras li {
    list-style-image : none;
    list-style-type : none;
    margin: 0 0 6px 0;
    padding: 0;
  }

div.z-blockposition-right + div.z-blockposition-right
{
    margin-top: 20px;
}

/***** Main content *****/


#content {
    clear:none;
    /* float:left; */
    line-height : 1.5em;
    margin: 10px 220px 10px 180px;
    padding: 0 ;
    text-align : left;
    overflow: hidden;
  }


#contentwide {
    clear:none;
    line-height : 1.5em;
    margin: 10px 15px 10px 180px;
    padding: 0;
    text-align : left;
    overflow: hidden;
  }


#contentfull {
    line-height : 1.5em;
    margin: 10px;
    padding: 0;
    text-align : left;
  }


/* #content h1, #contentwide h1, #contentfull h1 { */
h1{
    font-size : 2.0em;
    font-weight : normal;
    letter-spacing : -1px;
    margin: 8px 0 10px 0;
    padding: 0;
  }


/* #content h2, #contentwide h2, #contentfull h2 { */
h2
{
    font-size : 1.8em;
    font-weight : normal;
    letter-spacing : -1px;
    margin: 8px 0 10px 0;
    padding: 0;
  }


h3 {
    font-size : 1.5em;
    font-weight : normal;
    margin: 6px 0;
    padding: 0;
  }

/*
#content img, #contentwide img, #contentfull img {
    background-color : #cccccc;
    border: 4px solid #f0f0f0;
    color : #303030;
    display : inline;
    padding: 1px;
  }
*/

a {
    font-weight : bold;
  }

ul, ol {
    margin: 0 0 16px 20px;
    padding: 0;
  }

ul ul, ol ol {
    margin: 2px 0 2px 20px;
  }


li {
    margin: 0 0 2px 10px;
    padding: 0 0 0 4px;
  }

/***** Footer *****/


#footer {
    background-color : #ffffff;
    clear : both;
    color : #808080;
    font-size : 0.9em;
    margin: 0 8px 5px 8px;
    padding: 8px 0 15px 0;
    text-align : center;
    border: 2px solid #dadada;
  }


#footer p {
    margin: 0;
    padding: 0;
  }


#footer a {
    background-color : inherit;
    color : #808080;
    text-decoration : none;
  }


#footer a:hover {
    text-decoration : underline;
  }

/***** Various tags *****/


a {
    background-color : inherit;
    color : #505050;
    text-decoration : none;
  }


a:hover {
    background-color : inherit;
    color : #286ea0;
    text-decoration : underline;
  }


a img {
  }


p {
    margin: 0 0 16px 0;
  }


blockquote {
    /* menubg is gradient top-bottom f4-e8 */
    background: #f4f4f4 url('../images/menubg.gif') bottom left repeat-x;
    border: 1px solid #d8d8d8;
    color : #505050;
    border-left: 4px solid #cccccc;
    margin: 16px;
    padding: 7px 7px 7px 11px;
  }


blockquote p {
    font-size : 1.1em;
    line-height : 1.3em;
    margin: 0;
  }

/***** Table styles *****/


table {
    border: 1px solid #d8d8d8;
    border-collapse : collapse;
    line-height : 1.3em;
    margin: 0 0 16px 0;
    padding: 0;
  }


caption {
    font-size : 1.5em;
    font-weight : normal;
    margin: 0;
    padding: 6px 0 8px 0;
    text-align : left;
  }


th {
    background: #eaeaea url('../images/menubg2.gif') bottom left repeat-x;
    color : #505050;
    padding: 7px;
    text-align : left;
  }


td {
    background: #f4f4f4 url('../images/menubg.gif') bottom left repeat-x;
    color : #303030;
    font-size : 0.9em;
    padding: 7px;
    text-align : left;
  }

/***** Form styles *****/


.button {
    background: #f4f4f4 url('../images/menubg.gif') bottom left repeat-x;
    border: 1px solid #d8d8d8;
    color : #505050;
    font-weight : bold;
    border-left: 4px solid #cccccc;
    margin: 0 0 15px 0;
    padding: 4px;
    min-width : 80px;
    max-width : 120px;
  }


input, textarea {
    border: 1px solid #cccccc;
    font-family : Verdana,Tahoma,Arial,Sans-Serif;
    font-size : 1em;
    margin: 0;
    padding: 4px;
  }


label {
    margin: 2px;
  }


input {
    margin: 0;
    padding: 0 5px;
    min-width : 120px !important;
    max-width : 200px;
  }


textarea {
    width : 400px;
  }

/***** Search box *****/
#block_search_q,
#block_search_q {
    min-width : 90px !important;
    max-width : 120px !important;
}

#searchbox {
    margin: 6px 0 16px 0;
    padding: 0;
  }


#searchform {
    background-color : #ffffff;
    border: 1px solid #cccccc;
    color : #505050;
    font-size : 0.9em;
    padding: 4px;
    width : 116px;
  }


#searchbox label {
    display : none;
  }


/***** Various classes *****/


.left {
    float : left;
    margin: 10px 10px 5px 0;
  }


.right {
    float : right;
    margin: 10px 0 5px 10px;
  }


.announce {
    background: #f4f4f4 url('../images/menubg.gif') bottom left repeat-x;
    border: 1px solid #d8d8d8;
    color : #505050;
    border-left: 4px solid #cccccc;
    line-height : 1.3em;
    margin: 10px 0;
    padding: 10px 10px 5px 10px;
    width : 105px;
  }


.announce a {
    font-weight : bold;
  }


.announce p {
    font-size : 0.9em;
  }


.announce h2 {
    margin: 0 0 10px 0;
    padding: 0;
  }


#avmenu .announce {
    width : 125px;
  }


.textright {
    margin: -10px 0 4px 0;
    text-align : right;
  }


.center {
    text-align : center;
  }


.small {
    font-size : 0.8em;
  }


.large {
    font-size : 1.3em;
  }


.bold {
    font-weight : bold;
  }


.highlighted {
    background-color : #f0f0f0;
    border: 1px solid #b0b0b0;
    color : #303030;
    padding: 3px;
  }


.hide {
    display : none;
  }

/**************** generic clearfix solution ****************/
/**************** please include this in all ***************/
/******************** css based themes! ********************/


/*.z-clearfix:after {
    clear : both;
    content : ".";
    display : block;
    height : 0;
    visibility : hidden;
  }


.z-clearfix {
    display : inline-table;
  }

/* Hides from IE-mac \*/
/*
* html .pn-clearfix {
    height : 1%;
  }


.z-clearfix {
    display : block;
  }

/* End hide from IE-mac */

/* Overflow-Method to clear float environments */
/*
.z-floatbox {
    overflow : hidden;
  }

*/
